@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #A97155 0%, #E4D1B9 35%);  
}
.titulo {
    color:black;
    font-size: 20px;
}
 
.footer {
    grid-area: footer;
    background-color: black;
    color: white;
    text-align: center;
}
